<div class="row">
 <div class="col-8">
<div class="card">
<div class ="card-header bg-success">
    <h6>Employee List</h6>
</div>
<div class=".card-body">
<div class="row">
     <div class="col-12">
        <table>
            <thead>
                <tr>
                <th> Sr No</th>
                <th>Name</th>
                <th>Contact No</th>
                <th> Email-Id</th>
            </tr>
              
            </thead>
        </table>

     </div>
     </div>
</div>
</div>
 </div>
<div class="col-4">
    <div class="card">
<div class="card-header" bg-success>
    New Employee
</div>
<div class="card-body">
    <div class="row">
        <div class="col-12" >
          <label for="">Name</label>  
          <input type="text" class="form-control">
        </div>
          <div class="col-6" >
          <label for="">Email-Id</label>  
          <input type="text" class="form-control">
          </div>
          <div class="col-6" >
          <label for="">contactNo</label>  
          <input type="text" class="form-control">
          </div>
          <div class="col-6" >
            <label for="">city</label>  
            <input type="text" class="form-control">
            </div>
          <div class="col-6" >
          <label for="">state</label>  
          <input type="text" class="form-control">
          </div>
          <div class="col-6" >
          <label for="">pinCode</label>  
          <input type="text" class="form-control">
          </div>
          <div class="col-6" >
            <label for="">Address</label>  
            <textarea class="form-control"></textarea>
            </div>

        </div>
        <div class="row pt-2">
            <div class="col-6 text-center">
                <button class="btn btn-secondary">Reset</button>
            </div>
            <div class="col-6 text-center">
                <button class="btn btn-success">Save Employee</button>
            </div>

        </div>
    </div>
</div>
    </div>
</div>
</div>