<div class="container mt-4">
    <!-- Header Section with Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
      <div class="container-fluid">
        <a class="navbar-brand text-primary" href="#">Angular Management</a>
  
        <!-- Toggle for smaller screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/curd" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Employee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/databinding" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">DataBinding</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/treeview" routerLinkActive="active">Treeview</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/charts" routerLinkActive="active">Charts</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <!-- This is where the routed components will be displayed -->
    <router-outlet></router-outlet>
  </div>
  